<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Market - @ViewBag.Title</title>
        <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/custom.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        @*<script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>*@
        <script src="@Url.Content("~/Scripts/bootstrap-dropdown.js")" type="text/javascript"></script>
        <meta name="description" content="Market: CQRS and Event Sourcing Sandbox">
        <meta name="author" content="Constantin Titarenko">
        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!-- Le fav and touch icons -->
        <link href="@Url.Content("~/Images/favicon.ico")" rel="icon" type="image/x-icon" />
    </head>
    <body>
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="/">Market</a>
                    <ul class="nav">
                        @Html.NavigationLink("Users", "List", "User")
                        @Html.NavigationLink("Articles", "List", "Article")
                        @Html.NavigationLink("Stores", "List", "Store")
                        @Html.NavigationLink("Offers", "List", "Offer")
                        @Html.NavigationLink("Test", "Test", "Home")
                        @Html.NavigationLink("Log", "Log", "Home")
                    </ul>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <form action="@Url.Action("LogIn", "User")" method="POST" class="pull-right">
                            <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl"/>
                            <input class="input-small" type="text" name="name" placeholder="Name">
                            <input class="input-small" type="password" name="password" placeholder="Password">
                            <button class="btn" type="submit">Log In</button>
                        </form>
                    }
                    else
                    {
                        <form action="@Url.Action("LogOut", "User")" method="POST" class="pull-right">
                            <button class="btn" type="submit">Log Out</button>
                        </form>
                    }
                </div>
            </div>
        </div>
        <div class="container">
            <div class="content">
                <div class="page-header">
                    <h1>@ViewBag.Title <small>@ViewBag.Tagline</small></h1>
                </div>
                @RenderBody()
            </div>
            <footer><p>&copy; Constantin Titarenko, 2011-2012</p></footer>
        </div>
        <!-- /container -->
        <script type="text/javascript" src="@Url.Content("~/Scripts/" + ViewBag.Script)"></script>
    </body>
</html>
