@model Market.Cqrsnes.WebUi.Models.StoreOffersViewModel

@{
    ViewBag.Title = "Offers";
    ViewBag.Tagline = string.Format("what is proposed by {0}", Model.StoreOffers.Name);
}

@if (Model.StoreOffers.Offers.Any())
{
    <table>
        <thead>
            <tr>
                <th>Article</th>
                <th>Price</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.StoreOffers.Offers)
            {
                <tr>
                    <td>@item.ArticleName</td>
                    <td>@item.Price</td>
                    <td>@item.Count</td>
                </tr>
            }    
        </tbody>
    </table>
}
else
{
    <p>There are no offers yet.</p>
}

<br/>

<form action="@Url.Action("Create", "Offer")" method="POST">
    <input type="hidden" name="StoreId" value="@Model.StoreOffers.Id"/>
    <div class="clearfix">
        <label for="articleId">Article:</label>
        <div class="input">
            @Html.DropDownList("articleId", Model.Articles)
        </div>
    </div>
    <div class="clearfix">
        <label for="price">Price:</label>
        <div class="input">
            <input type="text" id="price" class="input-small" name="price"/>
        </div>
    </div>
    <div class="clearfix">
        <label for="count">Count:</label>
        <div class="input">
            <input type="text" id="count" class="input-small" name="count"/>
            <button class="btn" type="submit">Create new</button>
        </div>
    </div>
</form>
