@model Market.Cqrsnes.WebUi.Models.StoreOffersViewModel

@{
    ViewBag.Title = "Offers";
    ViewBag.Tagline = string.Format("what is proposed by \"{0}\"", Model.StoreOffers.Name);
}

<form class="pull-right" action="@Url.Action("Create", "Offer")" method="POST">
    <input type="hidden" name="StoreId" value="@Model.StoreOffers.Id"/>
    <div class="input">
        <label for="articleId">Article:</label>
        @Html.DropDownList("ArticleId", Model.Articles)
    </div>
    <div class="input">
        <label for="price">Price:</label>
        <input type="text" id="price" name="price"/>
    </div>
    <div class="input">
        <label for="count">Count:</label>
        <input type="text" id="count" name="count"/>
        <button class="btn" type="submit">Create new</button>
    </div>
</form>

@if (Model.StoreOffers.Offers.Any())
{
    <table>
        <thead>
            <tr>
                <th>Article</th>
                <th>Price</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.StoreOffers.Offers)
            {
                <tr>
                    <td>@item.ArticleName</td>
                    <td>@item.Price</td>
                    <td>@item.Count</td>
                </tr>
            }    
        </tbody>
    </table>
}
else
{
    <p>There are no offers yet.</p>
}
